<style>
  #map-container {
    width: 100%;
    height: 0;
    margin: 0 auto;
    padding-top: 134.74026%;
    position: relative;
  }
  #map {
    width: 100%;
    height: 100%; /* had to specify height/width */
    position: absolute;
    top: 0; 
    right: 0;
    left: 0; 
    bottom: 0; 
  }
  
</style>
<div class="ae-container-fluid animated fadeInRight">

  
<div class="ae-grid ">
  <div class="ae-grid__item item-lg-5 item-lg--offset-6">
    <h4 class="ae-u-bolder au-mb-3 conatct__title">Contactanos</h4>
    <p class="au-mb-4 contact__desc">Escribenos con gusto te respoderemos.
     </p>
  </div>
</div>

<div class="ae-grid">
  <div class="ae-grid__item item-lg-6">
    <div id="map-container">
      <div id="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3980.112151688691!2d-79.20300076017287!3d-3.9973582270522074!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb07388083f5b994c!2sJoyer%C3%ADa+%26+trofeos+Rolex!5e0!3m2!1ses!2sec!4v1534970174122" 
        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="ae-grid__item item-lg-6">
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg-2 au-v-hidden au-lg-v-visible">
        <button id="map-arrow" 
        class="arrow-button arrow-button--nospace arrow-button--center arrow-button--flip">
          <svg>
            <use xlink:href="assets/img/symbols.svg#arrow"></use>
          </svg>
        </button>
      </div>
      <div class="ae-grid__item item-lg-10 au-xs-ta-center au-lg-ta-left">
        <p class="au-mb-4 contact__addr">
          Calles, Sucre entre 10 de Agosto y <br> Jose Antonio Eguiguren
        </p>
        <p> 
          <span class="contact__phone">
            <span class="rk-light-color">  Teléfono  
            </span> (072) 579 760
          </span>
          <br>
          <span class="contact__phone"> <span class="rk-light-color">Celular  </span> (072) 579 760</span>
          <br>
          <span class="contact__email au-block au-truncate"> 
            <span class="rk-light-color">Email &nbsp;&nbsp; </span>
            <a href="#0">infocompany@contact.com</a></span></p>
      </div>
      
    </div>
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg-10">
        <form id="contact-form" action="#0" class="ae-form--full">
          <input type="text" placeholder="* Nombre" required>
          <input type="email" placeholder="* Email" required>
          <textarea placeholder="Mensaje ..." cols="30" rows="4"></textarea>
          <p class="au-xs-ta-center au-pt-4 group-buttons">
            <a href="#0" class="arrow-button arrow-button--center arrow-button--out">Enviar<span class="arrow-cont">
                <svg>
                  <use xlink:href="assets/img/symbols.svg#arrow"></use>
                </svg></span></a></p>
        </form>
      </div>
    </div>
  </div>
</div>


</div>

<script src="https://maps.googleapis.com/maps/api/js"></script>
