
  <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio ">
    
    <div class="au-xs-ta-center au-lg-ta-left animated fadeIn">
      <ul class="rk-menu rk-categories-menu" >
        <li class="rk-menu__item" routerLinkActive="active">
          <a routerLink="/portafolio/cadenas" class="rk-menu__link">Cadenas</a>
        </li>
        <li class="rk-menu__item" routerLinkActive="active">
          <a routerLink="/portafolio/anillos" class="rk-menu__link">Anillos</a>
        </li>
        <li class="rk-menu__item" routerLinkActive="active">
          <a routerLink="/portafolio/pendientes"  class="rk-menu__link">Pendientes</a>
        </li>
      </ul>
    </div>

    <router-outlet></router-outlet>  
    
  </section>
