<div class="ae-grid au-xs-ta-center au-mb-4 animated fadeInLeft">
  <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3">
    <img src="assets/img/creaciom.jpg" alt="" class="au-mb-3">
    <h5 class="ae-u-bolder au-mt-2">Creación de Joyas</h5>
    <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">
        Elaboramos toda clase de diseños, personalizamos tus joyas, elige el modelo, 
        danos una referencia,
        o simplemente danos una idea y nosotros la materializamos.
        Utilizamos materiales de calidad, trabajamos en oro (amarillo, blanco, 
        rojo, rosa, etc.) de 18 y 24 quilates. Además 
        contamos con gran variedad de piedras preciosas y semipreciosas.
    </p>
  </div>
  <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3">
    <img src="assets/img/anillo.jpg" alt="" class="au-mb-3">
    <h5 class="ae-u-bolder au-mt-2">Mantenimient de joyas</h5>
    <p class="au-lg-ta-just au-mb-3 au-pl-4 au-pr-4">
        Con el paso del tiempo tus joyas sufren un desgaste natural ocasionado 
        por el uso o diversos factores que ocasionan pérdida de brillo, ralladuras,
        movimiento en piedras engastadas, etc. Para lo cual te ofrecemos nuestro servicio
        de mantenimiento y rejuvenecimiento de joyas.
      </p>
  </div>
  <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3">
    <img src="assets/img/reparacion.png" alt="" class="au-mb-3">
    <h5 class="ae-u-bolder au-mt-2">Reparación de Joyas</h5>
    <p class="au-lg-ta-right au-mb-3 au-pl-4 au-pr-4">
        Para cualquier información sobre reparaciones, le rogamos que contacte
        con el Centro de Atención al Cliente (llamando al número de teléfono o 
        escribiendo a la dirección de correo electrónico que se indican en la página de
        <a routerLink="/contact" class="ae-u-bolder au-underline">
          Contacto</a> ).
        También puede acudir a nuestra joyería.
  
      
    </p>
  </div>
</div>

<div class="ae-grid ae-grid--alt au-xs-ptp-1">
  <div class="ae-grid__item--alt item-lg-4">
    <h6 class="ae-u-boldest">Quiénes somos </h6>
    <p class="au-lh-3">
      Con más de 20 años de experiencia en la elaboración de joyas, te brindamos asesoría
      completa que permita hacer de tu joya un eleménto único que forme parte de tu vida.
      En base a técnicas artesanales, con el uso de herramientas actuales y nueva tecnología
      logramos entregar un producto que a simple vista resalta su calidad y se diferencia en
      su terminado.
        
        </p>
  </div>
  <div class="ae-grid__item--alt item-lg-4">
    <h6 class="ae-u-boldest">Nuestra misión</h6>
    <p class="au-lh-3">
        Ofrecer los mejores modelos a gusto de nuestros clientes
        de gran calidad en materiales, terminados y un alto 
        grado de personalización enfocado a tu completa satisfacción.
      </p>
  </div>
  <div class="ae-grid__item--alt item-lg-4">
    <h6 class="ae-u-boldest">Our Clients</h6>
    <p class="au-lh-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
       accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo 
       inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
    <p class="au-lh-3">Nemo enim ipsam voluptatem quia voluptas</p>
  </div>
</div>
<p class="au-flex au-pt-4 group-buttons">
  <a routerLink="/portafolio/cadenas" class="au-mt-4 arrow-button arrow-button--center ">
    Ver Catálogo<span class="arrow-cont">
      <svg>
        <use xlink:href="assets/img/symbols.svg#arrow"></use>
      </svg></span>
  </a></p>
      