<section class="ae-container-fluid ae-container-fluid--inner loading rk-portfolio  ">
  <!-- 1 -->
  <div align="center" *ngIf="_ps.cargando"> 
    <h3>Cargando ....</h3>
    <div class="loader loader--style1" title="0" >
        <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
        <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
          s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
          c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
        <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
          C22.32,8.481,24.301,9.057,26.013,10.047z">
          <animateTransform attributeType="xml"
            attributeName="transform"
            type="rotate"
            from="0 20 20"
            to="360 20 20"
            dur="0.5s"
            repeatCount="indefinite"/>
          </path>
        </svg>
      </div>

      <p>Espere por favor... </p>


  </div>

  
  <div  ng-if="_ps.productos.lenghth > 0 && !cargando"  class="animated fadeIn">
    <div class="row">
      <div class="col-md-1"></div>
        <div class="col-md-10">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
       <ol class="carousel-indicators">
         <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
         <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
         <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
       </ol>
       <div class="carousel-inner">
         <div class="carousel-item active">
           <img class="img-fluid w-100 " src="./assets/img/catalogo/cadena.jpg" alt="First slide">
           <div class="carousel-caption d-none d-md-block">
               <button type="button" routerLink="/portafolio/cadenas"
               class="btn btn-primary btn-sm" >Ver Catalogos</button>
           </div>
         </div>
         <div class="carousel-item">
           <img class="img-fluid w-100 " src="./assets/img/catalogo/cadena.jpg" alt="Second slide">
           <div class="carousel-caption d-none d-md-block">
             <button type="button" routerLink="/portafolio/anillos"
             class="btn btn-primary btn-sm">Ver Catalogos</button>
           </div>
         </div>
         <div class="carousel-item">
           <img class="img-fluid w-100" src="../assets/img/catalogo/cadena.jpg" alt="Third slide">
           <div class="carousel-caption d-none d-md-block">
             <button type="button" routerLink="/portafolio/pendientes"
             class="btn btn-primary btn-sm">Ver Catalogos</button>
           </div>
         </div>
       </div>
       <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="sr-only">Anterior</span>
       </a>
       <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="sr-only">Siguiente</span>
       </a>
     </div>
     </div> 

     <div class="col-md-1"></div>
    </div>
     <br><br><br>
     
     <div class="row">
       <div class="col-md-12">
         <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
             
              <a *ngFor="let producto of _ps.productos"
              href="portfolio-item.html" class="rk-item ae-masonry__item">
                <img src="assets/productos/{{producto.url}}.jpg" alt="">
                <div class="item-meta">
                  <h2>{{ producto.titulo}}</h2>
                  <p>{{ producto.categoria }}</p>
                </div>
              </a>

               
    
         </div>
     </div>
     </div>
     



    </div>
  </section>